
.navbar-nav>li>a{
	padding-top: 30px;
	padding-bottom: 30px;
	border-right: 1px solid #e0e0e0
}

html{
	padding-top:80px;
}

.navbar{
	height:80px !important
}

.navbar-nav>li>a:hover{
	background: #fefefe  !important
}

#form-buscar{
	padding:25px;
}
